/*---------------------------------------------------------
BreakPoint
----------------------------------------------------------*/
$pc: 1088px; // PC・タブレット
$tab: 768px;  // タブレット
$sp: 560px;  // sp

/*---------------------------------------------------------
BreakPoint
----------------------------------------------------------*/
$baseColor1: #FFF;
$baseColor2: #EEFBFB;
$subColor1: #DAE6EA;
$subColor2: #F8F8F8;
$fontColorMain: #333;
$fontColorSub: #3BA6C9;

$qa_bg: #F2F2F2;
$borderColor: #E5E5E5;
$contactAttention: #0C449B;
